@mixin d-flex( $flex-direction, $justify-content, $align-items ) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin w-h( $width, $height ) {
    width: $width;
    height: $height;
}